<?xml version="1.0"?>
<launch>

	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find icclab_summit_xl)/launch/irlab_sim_summit_xls_complete.launch">
		<arg name="gazebo_world" value="$(find rap_group1)/worlds/box.world"/>
		<arg name="slam" default="true"/>
	</include>

        <!-- NAV STACK PARAMS -->
<!--        <arg name="launch_rviz_nav" default="true"/>-->
<!--        <arg name="map_file_a" default="willow_garage/willow_garage.yaml"/>-->
<!--        <arg name="localization_robot_a" default="false"/>-->
<!--        <arg name="gmapping_robot_a" default="false"/>-->
<!--        <arg name="move_base_robot_a" default="true"/>-->
<!--        <arg name="amcl_and_mapserver_a" default="true"/>-->
<!--        <arg name="slam" default="false"/>-->

	<!-- static transfrom to camera optical frame -->
	<node pkg="tf" type="static_transform_publisher" name="camera_to_opt_frame" args="-0.375 0.0005 -0.37 0 0 0 summit_xl_front_rgbd_camera_rgb_base_link camera_optical_frame 50" />

	<!-- MARKER -->
	<arg name="marker_size" default="4.5" />
	<arg name="max_new_marker_error" default="0.001" />
	<arg name="max_track_error" default="0.001" />

	<arg name="cam_info_topic" default="/summit_xl/front_rgbd_camera/rgb/camera_info" />
	<arg name="cam_image_topic" default="/summit_xl/front_rgbd_camera/rgb/image_raw" />
	<arg name="output_frame" default="/camera_optical_frame" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

</launch>
